@{
    ViewBag.User = Session["User"];
}
<div class="ui stackable menu">
    <div class="item">
        <img src="~/Content/logo.png">
    </div>
    @Html.ActionLink("Anasayfa", "Index", "App", null, new { @class = "item", @id = "anasayfa" })
    @Html.ActionLink("Profil", "Index", "Profile", null, new { @class = "item", @id = "profil" })
    <a class="item">Aktif İşler (35)</a>
    <a class="item">Tamamlanmış İşler (26)</a>
    @Html.ActionLink("Ekip Listesi", "Index", "Crews", null, new { @class = "item", @id = "ekip" })
    @Html.ActionLink("Proje Listesi", "Index", "Projects", null, new { @class = "item", @id = "proje" })
</div>
<script type="text/javascript">
    $(".item").click(function () {
        window.aktifMenu = this;
    });

    $(function () {
        if (document.title.search("Anasayfa") != -1) {
            $("#anasayfa").addClass("active");
        } else if (document.title.search("Profil") != -1 || document.title.search("Kullanıcı") != -1) {
            $("#profil").addClass("active");
        } else if (document.title.search("Ekip") != -1) {
            $("#ekip").addClass("active");
        } else if (document.title.search("Proje") != -1) {
            $("#proje").addClass("active");
        }
    });
</script>