<div class="ui visible inverted left vertical sidebar menu">
    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="Content/logo.png" style="height:50px;">
        </a>
        <a href="/" style="padding-left: 1em;"><b>Mezbele</b></a>
    </div>
    <a class="item">
        <i class="home icon"></i> Home
    </a>
</div>