<div class="container">
    <div class="row">
        <div class="col l12 s12">
            <blockquote class="white-text">Mezbele</blockquote>
            <p class="grey-text text-lighten-4">Çaylaklar gibi proje yönetin.</p>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        &copy; @DateTime.Now.Year - Mezbele - Developed by Nuri U. and Kadir Sefa Ü.
    </div>
</div>