@model MEZBELE.Models.Crews

@{
    ViewBag.Title = Model.CrewName + " - Ekibi Sil";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div>
    <h4>Ekibi Sil</h4>
    <hr />
    <div class="ui one column grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label">Silinecek Ekip</a>
                <span>Aşağıdaki bilgilere sahip ekibi silmek istediğinize emin misiniz?</span>

                <br /><br />

                <h2 class="ui header" style="padding: 10px;">
                    <img src="@Model.CrewAvatar" class="ui circular image">
                    @Html.DisplayFor(model => model.CrewName)
                </h2>

                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                    <div class="ui buttons">
                        <input class="ui large negative submit button" type="submit" value="Sil" style="margin-left: 10px;" />
                        <div class="or" data-text=""></div>
                        @Html.ActionLink("Ekip Listesine Geri Dön", "Index", null, new { @class = "ui primary button" })
                    </div>
                }

            </div>
        </div>
    </div>
</div>
