@model MEZBELE.Models.Crews

@{
    ViewBag.Title = Model.CrewName + " - Ekip Detayları";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div>
    <h4>Ekip Detayları</h4>
    <hr />

    <div class="ui one column grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label">Ekip Bilgileri</a>

                <br /><br />

                <h2 class="ui header" style="padding: 10px;">
                    <img src="@Model.CrewAvatar" class="ui circular image">
                    @Html.DisplayFor(model => model.CrewName)
                </h2>

                <div class="ui buttons" style="padding: 10px;">
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "ui large teal submit button" })
                    <div class="or" data-text=""></div>
                    @Html.ActionLink("Ekip Listesine Geri Dön", "Index", null, new { @class = "ui negative button" })
                </div>
            </div>
        </div>
    </div>
</div>
