@{
    ViewBag.Title = "Ekipler";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}
<br />
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header avatar cyan-text text-darken-3">
            <div class="valign-wrapper" style="margin:-0.5rem;">
                <i class="large material-icons circle" style="padding-right:1rem;">people</i>
                <h5 class="title valign" style="padding-top:1rem;">
                    Ekipler <br />
                    <small style="font-size:1rem;">Sistemde açık olan tüm ekipleri bu listede görebilirsiniz.</small>
                </h5>
            </div>
        </li>

        <li class="collection-item">
            <div class="row valign-wrapper" style="margin:-1rem;">
                <div class="col s7">
                    <p class="flow-text">
                        Ekip Adı
                    </p>
                    <p class="flow-text" style="margin-top:-1rem;font-size:1rem;">
                        Ekip Kurucusu
                    </p>
                </div>
                <div class="col s1">
                    <span class="badge indigo white-text">5 Kişi</span>
                </div>
                <div class="col s1">
                    <span class="badge teal white-text">4 Proje</span>
                </div>
                <div class="col s2 pull-s1">
                    <span class="badge deep-orange darken-3 white-text">73 İş</span>
                </div>
            </div>
        </li>

    </ul>
</div>