
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div class="ui basic segment">
    <h3 class="ui header">Application Content</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur tempore corporis nihil obcaecati corrupti
        impedit debitis quia ullam veniam culpa magnam itaque odit, aperiam voluptatibus ex cum at saepe, omnis!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, libero nostrum error eius saepe at accusantium
        natus perspiciatis quisquam quo modi quam, facere, nemo neque magni eaque earum, possimus molestiae!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores modi, voluptates dolore enim, officia, natus
        consequatur necessitatibus unde pariatur aliquid blanditiis amet? Soluta ad facere optio provident alias,
        porro debitis.
    </p>
</div>