@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}
<br />
<div class="row">
    <a href="/App/ProjeEkle" class="waves-effect waves-light btn green right"><i class="material-icons left">playlist_add</i>Proje Ekle</a>
</div>

@if (Model.Projeler.Count > 0)
{
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header avatar teal-text">
            <div class="valign-wrapper" style="margin:-0.5rem;">
                <i class="large material-icons circle" style="padding-right:1rem;">folder</i>
                <h5 class="title valign" style="padding-top:1rem;">
                    Projeler <br />
                    <small style="font-size:1rem;">Sistemde açık olan tüm projeleri bu listede görebilirsiniz.</small>
                </h5>
            </div>
        </li>
        @foreach (var proje in Model.Projeler)
        {
        <li class="collection-item">
            <p class="flow-text">
                @Html.ActionLink((string)proje.ProjeAdi, "Detay", "Proje", new { projeKimligi = proje.ID }, new { @class = "teal-text text-darken-1", style = "font-size:2rem;" })
            </p>
            @foreach (var rol in proje.KullaniciProjeRol)
            {
                if (rol.KullaniciID == proje.YoneticiID)
                {
                    <p class="flow-text" style="margin-top:-1rem;font-size:1rem;">
                        @rol.Kullanici.Adi @rol.Kullanici.Soyadi
                    </p>
                }
            }
        </li>
        }
    </ul>
</div>
}



<script>
    function projeyeGit(kimlik) {
        var veri = {
            projeKimligi: kimlik
        }

        $.post("/Proje/Detay", veri);
    }
</script>