@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}
<br />
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header avatar teal-text">
            <div class="valign-wrapper" style="margin:-0.5rem;">
                <i class="large material-icons circle" style="padding-right:1rem;">folder</i>
                <h5 class="title valign" style="padding-top:1rem;">
                    Projeler <br />
                    <small style="font-size:1rem;">Sistemde açık olan tüm projeleri bu listede görebilirsiniz.</small>
                </h5>
            </div>
        </li>
        @foreach (var proje in Model.Projeler)
        {
        <li class="collection-item">
            <p class="flow-text">
                @proje.ProjeAdi
            </p>
            <p class="flow-text" style="margin-top:-1rem;font-size:1rem;">
                @proje.YoneticiID
            </p>
        </li>
        }
    </ul>
</div>