

@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<h2 class="header teal-text">Proje Listesi</h2>
<div class="collection">
    @foreach (var item in Model.Projeler)
    {
        <a href="#!" class="collection-item">@item.ID</a>
    }
    
    <a href="#!" class="collection-item active">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
</div>