@model MEZBELE.Models.Users

@{
    ViewBag.Title = "Üyeliği Sil";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div class="ui one column grid">
    <div class="column">
        <div class="ui raised segment">
            <a class="ui red ribbon label">Üyeliğiniz Silinmek Üzere</a>

            <br />

            <h3>Üyeliğinizi silmek istediğinizden emin misiniz?</h3>
            <br />
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
                <input class="ui orange submit button" type="submit" value="Sil" />
                    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "ui positive button" })
            }
        </div>
    </div>
</div>
