@model MEZBELE.Models.Users

@{
    ViewBag.Title = "Üyeliği Sil";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div>
    <h4>Üyeliği Sil</h4>
    <hr />
    <h3>Üyeliğinizi silmek istediğinizden emin misiniz?</h3>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
