input,
select,
textarea {
    max-width: 280px;
}

/* App Footer */

.ui.footer.segment {
    padding: 5em 0em;
}


/* Form field */

.field {
    padding: 10px;
}


/* App */
@media only screen and (max-width: 765px) {
    #userNameInfo, #menuName {
        display: none;
    }
}

#AppBody {
    background-color: #566270;
}

#AppContainer {
    padding: 1em 4em;
}

#AppMenu {
    border: none;
}

.ui.segment {
    padding-bottom: 3em;
}
