
@{
    ViewBag.Title = "Kayıt";
    Layout = "~/Views/Shared/Landing/_FormLayout.cshtml";
}

@model MEZBELE.Models.Users

<div class="ui text container" style="padding-top: 15em;">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui green header">
                <span class="content">
                    Kayıt Ol
                </span>
            </h2>
            @using (Html.BeginForm("SignUp", "Landing", null, FormMethod.Post, htmlAttributes: new { @class = "ui large form" }))
            {
            @Html.AntiForgeryToken()

                <div class="ui segment">
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @placeholder = "Kullanıcı Adı" } })
                            <div class="ui left corner label">
                                <i class="user icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @placeholder = "E-posta Adresi" } })
                            <div class="ui left corner label">
                                <i class="mail icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Parola", @type = "password" } })
                            <div class="ui left corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <input class="ui large green submit button" type="submit" value="Kaydol" />
                </div>
            }
        </div>
    </div>
</div>