<div class="ui large top fixed hidden menu">
    <div class="ui container">
        @Html.ActionLink("Anasayfa", "Index", "Landing", new { area = "" }, new { @class = "active item" })
        <a class="item" href="#">Hakkımızda</a>
        <a class="item" href="#">İletişim</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Giriş Yap</a>
            </div>
            <div class="item">
                <a class="ui primary button">Kayıt Ol</a>
            </div>
        </div>
    </div>
</div>