<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Hakkımızda</h4>
                <div class="ui inverted link list">
                    <a class="item" href="#">Biz Kimiz?</a>
                    <a class="item" href="#">İletişim</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Servisler</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">SSS</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">MEZBELE</h4>
                <p>&copy; @DateTime.Now.Year Işık Sistem.</p>
            </div>
        </div>
    </div>
</div>
