@model MEZBELE.Models.Users

<div class="ui basic modal" id="loginModal">
    <i class="close icon"></i>
    <div class="header">
    </div>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal header">
                <span class="content">
                    Giriş Yap
                </span>
            </h2>
            @using (Html.BeginForm("Index", "App", null, FormMethod.Post, htmlAttributes: new { @class = "ui large form" }))
            {
            @Html.AntiForgeryToken()

                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @placeholder = "Kullanıcı Adı" } })
                            <div class="ui left corner label">
                                <i class="user icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Parola", @type = "password" } })
                            <div class="ui left corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <input class="ui large teal submit button" type="submit" value="Giriş Yap" />
                </div>

                <div class="ui error message"></div>
            }
        </div>
    </div>
</div>