<div class="ui vertical inverted sidebar menu">
    @Html.ActionLink("Anasayfa", "Index", "Landing", new { area = "" }, new { @class = "active item" })
    <a class="item" href="#">Hakkımızda</a>
    <a class="item" href="#">İletişim</a>
    <a class="item">Giriş Yap</a>
    <a class="item">Kayıt Ol</a>
</div>