<div class="ui basic modal" id="signUpModal">
    <i class="close icon"></i>
    <div class="header">
    </div>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal header">
                <span class="content">
                    Kayıt Ol
                </span>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            <input placeholder="Kullanıcı Adı" type="text" name="username">
                            <div class="ui left corner label">
                                <i class="user icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            <input placeholder="E-posta" type="text" name="email">
                            <div class="ui left corner label">
                                <i class="mail icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui big left corner labeled input">
                            <input placeholder="Parola" type="password" name="password">
                            <div class="ui left corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Kaydol</div>
                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>
</div>